<style>

    .average-values {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px; /* Add margin to separate Pyro and Hydrogen values */
    }

    .average-value {
      text-align: center;
      width: 33.33%; /* Divide the space into 3 equal parts for 3 values */
      padding: 10px;
      background-color: #f0f0f0; /* Optional: Add background color */
      border: 1px solid #ccc; /* Optional: Add borders */
      box-sizing: border-box; /* Optional: Include borders in width */
    }

    .average-value p {
      margin: 0;
      font-weight: bold;
    }

    .average-value span {
      display: block; /* Place each value on a new line */
      font-size: 20px;
    }

    /* Separate .css file to style the greenhouse values chart */
    #greenhouseValuesChart {
        width: 100px; 
        height: 100px; 
        position: fixed;
        top: 10px; 
        right: 20px;
    }
  
</style>

