<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Farm Owner Dashboard</title>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="static/css/default.css" />
    <link rel="stylesheet" type="text/css" href="static/css/default.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <!-- Include Chart.js plugin for data labels -->

    <style>
      h1 {
        display: inline-block;
        border: 2px solid #333;
        padding: 10px;
        margin-bottom: 20px;
      }

      .chart-container {
        border: 1px solid #333;
        padding: 10px;
        margin-bottom: 20px;
        position: relative;
        box-sizing: content-box;
      }

      /* Make the doughnut chart fill the entire container */
      #myDoughnutChart {
        width: 100%;
        height: 100%;
      }

      .pyro-buttons {
        border: 1px solid #333;
        padding: 10px;
        margin-bottom: 20px;
      }

      /* Style individual pyro-button items */
      .pyro-button {
        margin-bottom: 10px;
        height: 87px;
      }

      /* Styles for the container of the Solar Thermal Bar Chart and Photovoltaic Line Chart */
      .container-solar-photovoltaic {
        margin-top: 20px; /* Adjust the top margin as needed */
      }

      /* Styles for the Solar Thermal Bar Chart */
      #solarDataBarChart {
        width: 100%; /* Make the chart fill the container */
        height: 320px; /* Adjust the height as needed */
        margin-bottom: -20px; /* Adjust the negative margin to reduce space */
        border: 1px solid #333;
        padding: 10px;
      }

      /* Styles for the Photovoltaic Line Chart */
      #lineChart {
        width: 100%; /* Make the chart fill the container */
        height: 320px; /* Adjust the height as needed */
        border: 1px solid #333;
        padding: 10px;
      }
    </style>
  </head>

  <body style="margin: 10px; padding: 0">
    <div class="container" style="margin: 10px; padding: 0;">
      <h1>Sensor Driven Production Analysis of Casel Volturno</h1>
      <div class="container">
        <div class="row">
          <!-- Division for Pyro Values -->
          <div class="col-md-4">
            <div class="pyro-buttons">
              <div class="pyro-button text-center">
                <h5>Pyro Temperature</h5>
                <button type="button" class="btn btn-primary btn-block">
                  {{avg_temp}}
                </button>
              </div>
              <div class="pyro-button text-center">
                <h5>Pyro Pressure</h5>
                <button type="button" class="btn btn-primary btn-block">
                  {{avg_press}}
                </button>
              </div>
              <div class="pyro-button text-center">
                <h5>Pyro Flow-rate</h5>
                <button type="button" class="btn btn-primary btn-block">
                  {{avg_flow}}
                </button>
              </div>
            </div>
          </div>

          

          <!-- Division for Doughnut Chart -->
          <div class="col-md-4">
            <div class="chart-container" style="width: 350px; height: 300px">
              <canvas id="myDoughnutChart"></canvas>
            </div>
            <script>
                // <block:setup:1>
                const data = {
                  labels: [
                    'Temperature',
                    'Humidity',
                    'Light Intensity',
                    'CO2 Level',
                    'PAR',
                  ],
                  datasets: [{
                    label: 'Average Greenhouse Data',
                    data: [
                      {{ avg_greenhouse_temperature|default:"0" }},
                      {{ avg_greenhouse_humidity|default:"0" }},
                      {{ avg_greenhouse_light_intensity|default:"0" }},
                      {{ avg_greenhouse_co2_level|default:"0" }},
                      {{ avg_par|default:"0" }},
                    ],
                    backgroundColor: [
                      'rgb(255, 99, 132)',
                      'rgb(54, 162, 235)',
                      'rgb(255, 205, 86)',
                      'rgb(75, 192, 192)',
                      'rgb(153, 102, 255)',
                    ],
                    hoverOffset: 4,
                  }],
                };
                // </block:setup>


                const config = {
                type: 'doughnut',
                data: data,
                options: {
                  plugins: {
                    legend: {
                      display: true,
                    },
                    datalabels: {
                      color: 'white', // Color of the text
                      font: {
                        size: '14', // Font size
                      },
                      formatter: (value, ctx) => {
                        let sum = 0;
                        let dataArr = ctx.chart.data.datasets[0].data;
                        dataArr.map((data) => {
                          sum += data;
                        });
                        let percentage = ((value * 100) / sum).toFixed(2) + '%';
                        return percentage;
                      },
                    },
                  },
                },
              };
              // </block:config>

                // Render the chart
                var ctx = document.getElementById('myDoughnutChart').getContext('2d');
                new Chart(ctx, config);
            </script>
          </div>

          <!-- Division for Bar Chart -->
          <div class="col-md-4">
            <div
              class="container"
              style="
                border: 1px solid #333;
                width: 450px;
                height: 325px;
                padding: 10px;
              "
            >
              <canvas id="barChart" style="width: 100%; height: 100%"></canvas>
            </div>
            <script>
                // Get the context of the canvas element
                const ctx3 = document.getElementById('barChart').getContext('2d');

                // Extract the data for year_avg_frequency and year_avg_total_active_power
                const years = [
                  {% for item in year_avg_frequency %}
                    "{{ item.year }}",
                  {% endfor %}
                ];

                const avgFrequency = [
                  {% for item in year_avg_frequency %}
                    {{ item.avg_frequency|default:"0" }},
                  {% endfor %}
                ];

                const avgTotalActivePower = [
                  {% for item in year_avg_total_active_power %}
                    {{ item.avg_total_active_power|default:"0" }},
                  {% endfor %}
                ];

                // Create the bar chart
                const barChart = new Chart(ctx3, {
                  type: 'bar',
                  data: {
                    labels: years,
                    datasets: [
                      {
                        label: 'Average Frequency',
                        data: avgFrequency,
                        backgroundColor: 'rgb(75, 192, 192)',
                      },
                      {
                        label: 'Average Total Active Power',
                        data: avgTotalActivePower,
                        backgroundColor: 'rgb(153, 102, 255)',
                      },
                    ],
                  },

                  options: {
                  responsive: false,
                  maintainAspectRatio: false,
                  scales: {
                    x: {
                      beginAtZero: true,
                      grid: {
                        display: false,
                      },
                    },
                    y: {
                      beginAtZero: true,
                      grid: {
                        display: false,
                      },
                    },
                  },
                  plugins: {
                    legend: {
                      display: true,
                    },
                    datalabels: {
                      anchor: 'end',
                      align: 'top',
                      display: true,
                      color: 'black',
                      formatter: function (value, context) {
                        return value; // Display the actual value on the bar
                      },
                    },
                  },
                },
              });
            </script>
          </div>
        </div>
      </div>

      <div style="display: flex; justify-content: center; align-items: center">
        <!-- Displaying Hydro Values -->
        <div class="container hydro-values" style="display: flex; margin-top: -10px; margin-bottom: 10px; margin-left: 100px;">
          <div
            class="average-value"
            style="
              background-color: rgba(255, 99, 132, 0.5);
              width: 350px;
              margin-right: 10px;
            "
          >
            <p>
              Avg Hydrogen Pressure: {{avg_hydrogen_pressure|default:"N/A"}}
            </p>
          </div>
          <div
            class="average-value"
            style="
              background-color: rgba(54, 162, 235, 0.5);
              width: 350px;
              margin-right: 10px;
            "
          >
            <p>
              Avg Hydrogen Production Rate:
              {{avg_hydrogen_production_rate|default:"N/A"}}
            </p>
          </div>
          <div
            class="average-value"
            style="
              background-color: rgba(255, 206, 86, 0.5);
              width: 350px;
              margin-right: 10px;
            "
          >
            <p>
              Sum Hydrogen Storage Capacity:
              {{sum_hydrogen_storage_capacity|default:"N/A"}}
            </p>
          </div>
          <div
            class="average-value"
            style="background-color: rgba(75, 192, 192, 0.5); width: 350px"
          >
            <p>
              Avg Hydrogen Temperature:
              {{avg_hydrogen_temperature|default:"N/A"}}
            </p>
          </div>
        </div>
      </div>

      <!-- Division for solar thermal bar Chart -->
      <div class="container">
        <div class="row">
          <!-- Division for Solar Thermal Bar Chart -->
          <div class="col-md-6">
            <div class="container">
              <canvas
                id="solarDataBarChart"
                width="450px"
                height="320px"
              ></canvas>
            </div>

            <script>
                // Get the context of the canvas element
                const ctx4 = document.getElementById('solarDataBarChart').getContext('2d');

                // Extract the data for year_avg_solar_energy_production and year_avg_solar_temperature
                const solarYears = [
                  {% for item in year_avg_solar_energy_production %}
                    "{{ item.year }}",
                  {% endfor %}
                ];

                const avgSolarEnergyProduction = [
                  {% for item in year_avg_solar_energy_production %}
                    {{ item.avg_solar_energy_production|default:"0" }},
                  {% endfor %}
                ];

                const avgSolarTemperature = [
                  {% for item in year_avg_solar_temperature %}
                    {{ item.avg_solar_temperature|default:"0" }},
                  {% endfor %}
                ];

                // Create the bar chart for solar data
                const solarDataBarChart = new Chart(ctx4, {
                  type: 'bar',
                  data: {
                    labels: solarYears,
                    datasets: [
                      {
                        label: 'Average Solar Energy Production',
                        data: avgSolarEnergyProduction,
                        backgroundColor: 'rgb(75, 192, 192)',
                      },
                      {
                        label: 'Average Solar Temperature',
                        data: avgSolarTemperature,
                        backgroundColor: 'rgb(153, 102, 255)',
                      },
                    ],
                  },
                  options: {
                  scales: {
                    x: {
                      beginAtZero: true,
                      grid: {
                        display: false,
                      },
                    },
                    y: {
                      beginAtZero: true,
                      grid: {
                        display: false,
                      },
                    },
                  },
                  maintainAspectRatio: false,
                  responsive: false,
                  plugins: {
                    legend: {
                      display: true,
                    },
                    datalabels: {
                      anchor: 'end',
                      align: 'end',
                      display: true,
                      color: 'black',
                      formatter: function (value, context) {
                        return value; // Display the actual value on the bar
                      },
                    },
                  },
                },
              });
            </script>
          </div>

          <!-- Division for Photovoltaic Line Chart -->
          <div class="col-md-6">
            <div class="container" style="margin-left: -110px;">
              <canvas id="lineChart" width="750px" height="320px" ></canvas>
            </div>
            <script>
              // Get the context of the canvas element
              const ctx2 = document.getElementById('lineChart').getContext('2d');

              // Extract the data for daily_avg_temperatura_pannello, daily_avg_temperatura_ritorno, and daily_avg_temperatura_mandata
              const dates = [
                {% for item in daily_avg_temperatura_pannello %}
                  "{{ item.date|date:'Y-m-d' }}",
                {% endfor %}
              ];

              const avg_temperatura_pannello = [
                {% for item in daily_avg_temperatura_pannello %}
                  {{ item.avg_temperatura_pannello|default:"0" }},
                {% endfor %}
              ];

              const avg_temperatura_ritorno = [
                {% for item in daily_avg_temperatura_ritorno %}
                  {{ item.avg_temperatura_ritorno|default:"0" }},
                {% endfor %}
              ];

              const avg_temperatura_mandata = [
                {% for item in daily_avg_temperatura_mandata %}
                  {{ item.avg_temperatura_mandata|default:"0" }},
                {% endfor %}
              ];

              // Create the line chart
              const lineChart = new Chart(ctx2, {
                type: 'line',
                data: {
                  labels: dates,
                  datasets: [
                    {
                      label: 'Temperatura Pannello',
                      data: avg_temperatura_pannello,
                      pointStyle: false,
                      borderColor: 'rgb(255, 99, 132)',
                      fill: false,
                    },
                    {
                      label: 'Temperatura Ritorno',
                      data: avg_temperatura_ritorno,
                      pointStyle: false,
                      borderColor: 'rgb(54, 162, 235)',
                      fill: false,
                    },
                    {
                      label: 'Temperatura Mandata',
                      data: avg_temperatura_mandata,
                      pointStyle: false,
                      borderColor: 'rgb(255, 205, 86)',
                      fill: false,
                    },
                  ],
                },
                  options: {
                  scales: {
                    x: {
                      beginAtZero: true,
                    },
                    y: {
                      beginAtZero: true,
                    },
                  },
                  maintainAspectRatio: false, // Set this to false to control the size
                  responsive: false,
                },
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
